@charset="utf-8";

/*
 * 主要用到以下颜色：
 *
 * 从以下调色板取色： http://www.materialpalette.com/
 *
 * #00796b  dark primary color
 * #009688  primary color
 * #b2dfdb  light primary color
 * #ffffff  text/icons
 *
 * #00bcd4  accent color
 * #212121  primary text
 * #727272  secondary text
 * #b6b6b6  divider color
 *
 * #eee     border
 * #fafafa  background
 */

/*********************** reset */
body{
    margin:0 auto;
    background:#000;
    display:flex;
    font-family: 'Lantinghei SC', 'Open Sans', Arial, 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, STHeiti, 'WenQuanYi Micro Hei', SimSun, Helvetica, sans-serif;
}

a{
    text-decoration:none;
    color:#00bcd4;
}
a:hover{
    text-decoration:underline;
}

.clearfix{
    clear:both;
}

code, pre{
    font-family: monospace;
}

/********************** content */
#content{
    background:#fff;
    color:#212121;
    left:0;
    right:0;
    position:absolute;
    min-height:100%;
    margin-left:17em;
    display:-webkit-inline-box;
    display:-moz-inline-box;
    display:inline-box;
    box-sizing:border-box;
}

#content .container{
    padding:1em 1.5em;
}

/**************************** .post */

.post{
    margin:1em 0em;
    border-bottom:1px solid #b6b6b6;
    padding-bottom:1em;
    line-height:1.8em;
}
.post header{
    /*border-bottom:1px solid #eee;*/
    padding-bottom:.5em;
    margin-bottom:.5em;
}

.post .title{
    margin:0em 0em .5em 0em;
    font-size:1.8em;
}

.post .title a{
    color:#212121;
}

.post .title a:hover{
    text-decoration:none;
    color:#00bcd4;
}

.post .meta{
    color:#727272;
}

.post .meta span{
    border-right:1px solid #eee;
    padding:0em .5em;
}

.post .meta span:last-child{
    border-right:none;
    padding-right:0em;
}

.post .meta span:first-child{
    padding-left:0em;
}

.post section{
    margin-bottom:2em;
}

.post section h3{
    margin-bottom:.5em;
}

.post section p{
    text-indent:2em;
    margin:.2em 0em;
}

/**************************** .tag */

.tag{
    margin-bottom:2em;
}

.tag .title{
    font-size:1.8em;
}

/**************************** .tags */

#content .tags .item{
    margin:0.5em;
}

#content .tags .item:first-child{
    margin-left:0em;
}

#content .tags .item:last-child{
    margin-right:0em;
}

/********************** #comments */

#comments .title{
    font-size:1.2em;
    margin-top:1.5em;
    border-bottom:1px solid #b6b6b6;
    padding-bottom:0.2em;
}

#comments form{
    margin-bottom:1.5em;
}

#comments .meta{
    margin-bottom:1em;
    display:flex;
}

#comments .meta input{
    border:1px solid #b6b6b6;
    padding:0.5em;
    outline:none;
    margin:0em 0.2em;
    width:33.33%;
    display:-webkit-inline-box;
    display:-moz-inline-box;
    display:inline-box;
    box-sizing:border-box;
}

#comments .meta input:first-child{
    margin-left:0;
}

#comments .meta input:last-child{
    margin-right:0;
}

#comments input:focus{
    border:1px solid #009688;
}

#comments textarea{
    border:1px solid #b6b6b6;
    padding:0.5em;
    outline:none;
    width:100%;
    resize:vertical;
    display:-webkit-box;
    display:-moz-box;
    display:box;
    box-sizing:border-box;
}
#comments textarea:focus{
    border:1px solid #009688;
}

#comments .buttons{
    text-align:right;
    padding:1em 0em;
}

#comments .buttons button{
    outline:none;
    font-size:1.1em;
    background:#009688;
    color:#fff;
    text-align:center;
    padding:.4em 1em;
    border:none;
    cursor:pointer;
}
#comments .buttons button:hover{
    background:#00796b;
}

#comments .comment{
    border:1px solid #eee;
    background:#fafafa;
    margin:.7em 0em;
    padding:.7em;
}

#comments .comment header .avatar{
    width:3em;
    height:3em;
    border:1px solid #eee;
}

#comments .comment header .author{
    vertical-align:top;
    display:inline;
}

#comments .comment .content{
    margin:-1.2em 0em 0em 3.25em;
}

/********************** #pages-nav */
#pages-nav .prev{
    float:left
}


#pages-nav .next{
    float:right
}

/********************** footer */
#footer{
    margin-top:1.5em;
    border-top:1px solid #b6b6b6;
    padding:1em 0em;
}

#footer p{
    margin-top:0em;
}

/********************** sidebar */
#sidebar{
    width:17em;
    height:100%;
    position:fixed;
    background:#009688;
    color:#b2dfdb;
    display:-webkit-inline-box;
    display:-moz-inline-box;
    display:inline-box;
    box-sizing:border-box;
}

#sidebar a{
    color:#b2dfdb;
}

#sidebar .container{
    padding:1em 1em 1em 2em;
}

#sidebar .block{
    margin-bottom:2em;
}

#sidebar .title{
    font-size:1.5em;
    margin-bottom:0em;
}

#sidebar ol, #sidebar ul{
    padding-left:0.5em;
}

#sidebar li{
    list-style:none outside;
    margin:0.5em 0;
}

/**************************** #return-top */
#return-top{
    position:fixed;
    bottom:2em;
    right:2em;
}


/************************** prettyprint */
.prettyprint ol, .prettyprint ul{
    line-height:1.4em;
}

pre{
    padding:0.2em 0.5em;
}


/******************************* mobile */

@media(max-width:600px){
    body{
        flex-direction:column;
    }

    #sidebar{
        width:100%;
        height:3em;
        position:fixed;
        top:0em;
        left:0em;
        z-index:100;
    }

    #sidebar .container{
        margin:0em;
        padding:0em 1em;
    }

    #sidebar .topbar .block{
        font-size:1em;
        margin:0.4em;
        padding:0em;
    }

    #sidebar .topbar .title{
        margin:0em;
        padding:0em;
        text-align:center;
    }

    #sidebar .topbar .second-title{
        display:none;
    }

    #sidebar .topbar .title .menu-toggle{
        float:left;
        cursor:pointer;
    }

    #sidebar .menus{
        display:none;
        background:#009688;
        color:#b2dfdb;
        position:absolute;
        top:3em;
        left:0;
        right:0;
        border-top:1px solid #00796b;
        padding:1em;
    }

    #content{
        margin-left:0;
        top:3em;
    }


    #comments .meta{
        flex-direction:column;
    }

    #comments .meta input{
        width:100%;
        margin:2px 0px;
    }
}
