# Systemd 启动脚本
# 放在 /etc/systemd/system 之下

[Unit]
Description=gitype daemon
After=network.target

[Service]
PIDFile=/tmp/gitype.pid-404
User=root
Group=root
WorkingDirectory=/data/www/gitype
ExecStart=/data/www/gitype/gitype
Restart=always

[Install]
WantedBy=multi-user.target
