@charset="utf-8";

body{
    margin: 0 auto;
}

a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#4183c4;
}

/********************** content */
#content{
    background: #eee;
    left: 0;
    right: 0;
    position: absolute;
    min-height: 100%;
    margin-left: 17em;
}

#content .container{
    padding:1em 1.5em;
}

#content .list article{
    margin-bottom:1.5em;
    border-bottom:1px solid #ddd;
}
#content .list article header{
    padding:0.3em 0em;
}
#content .list article header h2{
    margin:0em;
}

/********************** sidebar */
#sidebar{
    width: 17em;
    height: 100%;
    background: #ccc;
    position: fixed;
}

#sidebar .container{
    padding:1em;
}
