@charset="utf-8";

/*
 * 主要用到以下颜色：
 *
 * 从以下调色板取色： http://www.materialpalette.com/
 *
 * #00796b  dark primary color
 * #009688  primary color
 * #b2dfdb  light primary color
 * #ffffff  text/icons
 *
 * #00bcd4  accent color
 * #212121  primary text
 * #727272  secondary text
 * #b6b6b6  divider color
 */

/*********************** reset */
body{
    margin:0 auto;
    background:#000;
}

a{
    text-decoration:none;
    color:#00bcd4;
}
a:hover{
    text-decoration:underline;
}

ol,ul{
    padding-left:0.5em;
}
li{
    list-style:none outside;
    margin:0.5em 0;
}

/********************** content */
#content{
    background:#fff;
    color:#212121;
    left:0;
    right:0;
    position:absolute;
    min-height:100%;
    margin-left:17em;
}

#content .container{
    padding:1em 1.5em;
}

#content .list article{
    margin-bottom:1.5em;
    border-bottom:1px solid #b6b6b6;
}
#content .list article .title{
    margin:0.6em 0em;
    float:left;
    font-size:1.8em;
}
#content .list article .title a{
    color:#212121;
}
#content .list article .title a:hover{
    text-decoration:none;
    color:#00bcd4;
}
#content .list article .meta{
    color:#727272;
    float:right;
    text-align:right;
    top:0;
    position:relative;;
}
#content .list article .meta *{
    display:block;
    margin:0.7em 0em;
}
#content .list article .entry{
    clear:both;
}



#content .tags .tag{
    margin:0.5em;
}

/********************** footer */
#content #footer{
    margin-top:1.5em;
    border-top:1px solid #b6b6b6;
    padding:1em 0em;
}

#content #footer p{
    margin-top:0em;
}

/********************** sidebar */
#sidebar{
    width:17em;
    height:100%;
    position:fixed;
    background:#009688;
    color:#b2dfdb
}
#sidebar a{
    color:#b2dfdb;
}

#sidebar .block{
    margin-bottom:2em;
}

#sidebar .container{
    padding:1em 1em 1em 2em;
}

#sidebar .title{
    font-size:1.2em;
}
