{{define "header"}}
<!DOCTYPE html>
<html lang="zh-Hans">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{if .Title}}{{.Title}}&#8250;{{end}}{{.SiteName}}</title>
        {{if .Canonical}}<link rel="canonical" href="{{.Canonical}}" />{{end}}
        {{if .Keywords}}<meta name="keywords" content="{{.Keywords}}" />{{end}}
        {{if .Description}}<meta name="description" content="{{.Description}}" />{{end}}
        <link rel="stylesheet" href="/themes/default/style.css" />
    </head>
    <body>
    <div id="content">
{{end}}
