{{define "posts"}}
{{template "header" .info}}

<div class="list">
    {{range .posts}}
    <article>
        <h2 class="title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
        <div class="meta">
            <time>{{.Created|date}}</time>
            <a class="comments" href="{{.Permalink}}#comments">{{.CommentsSize}}条评论</a>
        </div>
        <div class="entry">
            {{.Entry|html}}
        </div>
    </article>
    {{end}}

    {{if or .info.PrevPage .info.NextPage}}
    <div id="pages-nav">
        {{if .info.PrevPage}}<a class="prev" href="{{.info.PrevPage.Link}}">{{.info.PrevPage.Title}}</a>{{end}}
        {{if .info.NextPage}}<a class="next" href="{{.info.NextPage.Link}}">{{.info.NextPage.Title}}</a>{{end}}
        <div class="clearfix"></div>
    </div>
    {{end}}

</div>

{{template "footer" .info}}
{{end}}
