{{define "post"}}
{{template "header" .info}}

<div class="post">
    <article>
        <h1 class="title"><a href="{{.post.Permalink}}">{{.post.Title}}</a></h1>
        <div class="meta">
            <time>{{.post.Created|date}}</time>
            <a class="comments" href="{{.post.Permalink}}#comments">{{.post.CommentsSize}}条评论</a>
        </div>
        <div class="entry">
            {{.post.Entry|html}}
        </div>
    </article>

    <div id="comments">
        {{range .post.Comments 1}}
            <article id="comments-{{.ID}}">
                <header>
                    <div>{{.AuthorName}}</div>
                </header>
                {{.Content|html}}
            </article>
        {{end}}
    </div>
</div>

{{template "footer" .info}}
{{end}}
