{{define "post"}}
{{template "header" .info}}

<div>
    <article class="post">
        <header>
            <h2 class="title">{{.post.Title}}</h2>
            <div class="meta">
                <span>发布时间:<time>{{.post.Created|ldate}}</time></span>
                <span>标签:{{range .post.Tags}}
                    <a href="{{.Permalink}}">{{.Title}}</a>
                {{end}}
                </span>
                <span><a href="{{.post.Permalink}}#comments">{{.post.CommentsSize}}条评论</a></span>
            </div>
        </header>
        {{.post.Entry|html}}
    </article>

    <div id="comments">
        <h2 class="title">评论</h2>
        {{if .post.AllowComment}}
        <form id="comments-reply" action="{{.post.Permalink}}" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="meta">
                <input type="hidden" name="parent" />
                <input type="hidden" name="id" value="{{.post.ID}}" />
                <input type="text" required="required" name="name" placeholder="昵称" />
                <input type="email" required="required" name="email" placeholder="邮箱，不会公开" />
                <input type="url" name="url" placeholder="个人网站" />
            </div>

            <textarea name="content" id="reply-content" cols="30" rows="10" required="required"></textarea>

            <div class="buttons">
                <button type="submit">提交</button>
            </div>
        </form>
        {{end}}
        {{range .post.Comments}}
        <article id="comments-{{.ID}}" class="comment">
            <header>
                <img class="avatar" src="{{.AuthorEmail|avatar}}" alt="头像" />
                <div class="author">{{.AuthorName}}</div>
            </header>
            <section class="content">{{.Content}}</section>
        </article>
        {{end}}
    </div><!-- end #comments -->
</div>

{{template "footer" .info}}
{{end}}
