{{define "sidebar"}}
<aside id="sidebar">
<div class="container">

    <div class="block">
        <p class="title"><a href="/">{{.SiteName}}</a></p>
        <p>{{.SecondTitle}}</p>

        <p><a href="/">首页</a></p>
        <p><a href="/posts/about.html">关于</a></p>
        <p><a href="/tags">标签</a></p>
    </div>

    {{$len := len .Tops}}
    {{if gt $len 0}}
    <div class="block">
        <div class="header">最新评论</div>
        <ol class="content">
        {{range .Tops}}
            <li><a href="{{.Permalink}}">{{.Entry|html}}</a></li>
        {{end}}
        </ol>
    </div>
    {{end}}

    {{$len := len .Hots}}
    {{if gt $len 0}}
    <div class="block">
        <div class="header">最热门文章</div>
        <ol class="content">
        {{range .Hots}}
            <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
        </ol>
    </div>
    {{end}}

    <div class="block">
        <div class="hader">数据</div>
        <div class="content">
            <p>文章数量:{{.PostSize}}</p>
            <p>评论数量:{{.CommentSize}}</p>
        </div>
    </div>

</div>
</aside>
{{end}}
