@charset="utf-8";

/*
 * 主要用到以下颜色：
 *
 * 从以下调色板取色： http://www.materialpalette.com/
 *
 * #00796b  dark primary color
 * #009688  primary color
 * #b2dfdb  light primary color
 * #ffffff  text/icons
 *
 * #00bcd4  accent color
 * #212121  primary text
 * #727272  secondary text
 * #b6b6b6  divider color
 */

/*********************** reset */
body{
    margin:0 auto;
    background:#000;
}

a{
    text-decoration:none;
    color:#00bcd4;
}
a:hover{
    text-decoration:underline;
}

ol,ul{
    padding-left:0.5em;
}

li{
    list-style:none outside;
    margin:0.5em 0;
}

.clearfix{
    clear:both;
}

/********************** content */
#content{
    background:#fff;
    color:#212121;
    left:0;
    right:0;
    position:absolute;
    min-height:100%;
    margin-left:17em;
}

#content .container{
    padding:1em 1.5em;
}

#content .list article{
    margin-bottom:1.5em;
    border-bottom:1px solid #b6b6b6;
}
#content .list article .title{
    margin:0.6em 0em;
    float:left;
    font-size:1.8em;
}
#content .list article .title a{
    color:#212121;
}
#content .list article .title a:hover{
    text-decoration:none;
    color:#00bcd4;
}
#content .list article .meta{
    color:#727272;
    float:right;
    text-align:right;
    top:0;
    position:relative;
}
#content .list article .meta *{
    display:block;
    margin:0.7em 0em;
}
#content .list article .entry{
    clear:both;
}

#content .tags .tag{
    margin:0.5em;
}

/********************** #comment */

#comments .title{
    font-size:1.2em;
    margin-top:1.5em;
    border-bottom:1px solid #b6b6b6;
    padding-bottom:0.2em;
}

#comments form{
    margin-bottom:1.5em;
}

#comments .meta{
    margin-bottom:1em;
    display:flex;
}

#comments .meta input{
    border:1px solid #b6b6b6;
    padding:0.5em;
    outline:none;
    margin:0em 0.2em;
    width:33.33%;
    display:-webkit-inline-box;
    display:-moz-inline-box;
    display:inline-box;
    box-sizing:border-box;
}

#comments .meta input:first-child{
    margin-left:0;
}

#comments .meta input:last-child{
    margin-right:0;
}

#comments input:focus{
    border:1px solid #009688;
}

#comments textarea{
    border:1px solid #b6b6b6;
    padding:0.5em;
    outline:none;
    width:100%;
    resize:vertical;
    display:-webkit-box;
    display:-moz-box;
    display:box;
    box-sizing:border-box;
}
#comments textarea:focus{
    border:1px solid #009688;
}

#comments .buttons{
    text-align:right;
    padding:1em 0em;
}

#comments .buttons button{
    outline:none;
    font-size:1.1em;
    background:#009688;
    color:#fff;
    text-align:center;
    padding:.4em 1em;
    border:none;
    cursor:pointer;
}
#comments .buttons button:hover{
    background:#00796b;
}

#comments article{
    margin:0.2em 0;
}

#comments article header .avatar{
    width:3em;
    height:3em;
}

#comments article header .author{
    vertical-align:top;
    display:inline;
}

#comments article .content{
    margin:-1.2em 0em 0em 3.25em;
}

/********************** footer */
#footer{
    margin-top:1.5em;
    border-top:1px solid #b6b6b6;
    padding:1em 0em;
}

#footer p{
    margin-top:0em;
}

/********************** sidebar */
#sidebar{
    width:17em;
    height:100%;
    position:fixed;
    background:#009688;
    color:#b2dfdb
}
#sidebar a{
    color:#b2dfdb;
}

#sidebar .block{
    margin-bottom:2em;
}

#sidebar .container{
    padding:1em 1em 1em 2em;
}

#sidebar .title{
    font-size:1.2em;
}
