{{define "tag"}}
{{template "header" .info}}

<div class="tag">

    <article>
        <header>
            <h2>{{.tag.Title}}</h2>
        </header>
        {{.tag.Description}}
    </article>

    <div class="list">
        {{range .posts}}
        <article>
            <h2 class="title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
            <div class="meta">
                <time>{{.Created|date}}</time>
                <a class="comments" href="{{.Permalink}}#comments">{{.CommentsSize}}条评论</a>
            </div>
            <div class="entry">
                {{.Entry}}
            </div>
        </article>
        {{end}}
    </div>

</div>

{{template "footer" .info}}
{{end}}
