{{define "tag"}}
{{template "header" .info}}

<div>
    <article class="tag">
        <header>
            <h1 class="title">{{.tag.Title}}</h1>
        </header>
        {{.tag.Description|html}}
    </article>

    <div class="posts">
        {{range .posts}}
        <article class="post" itemscope itemtype="http://schema.org/Blog">
            <header>
                <h2 class="title"><a href="{{.Permalink}}" itemprop="name">{{.Title}}</a></h2>
                <div class="meta">
                    <span>发布时间:<time itemprop="dateCreated">{{.Created|sdate}}</time></span>
                    <span>标签:{{range .Tags}}
                        <a href="{{.Permalink}}">{{.Title}}</a>
                    {{end}}
                    </span>
                    <span>
                        <a href="{{.Permalink}}#comments" itemprop="discussionUrl"><span itemprop="commentCount">{{.CommentsSize}}</span>条评论</a>
                    </span>
                </div>
            </header>
            {{.Entry|html}}
            <p><a href="{{.Permalink}}">继续阅读&#160;&raquo;</a></p>
        </article>
        {{end}}
    </div>

    {{if or .info.PrevPage .info.NextPage}}
    <div id="pages-nav">
        {{if .info.PrevPage}}<a class="prev" href="{{.info.PrevPage.Link}}">{{.info.PrevPage.Title}}</a>{{end}}
        {{if .info.NextPage}}<a class="next" href="{{.info.NextPage.Link}}">{{.info.NextPage.Title}}</a>{{end}}
        <div class="clearfix"></div>
    </div>
    {{end}}

</div>


{{template "footer" .info}}
{{end}}
