{{define "tag"}}
{{template "header" .info}}

<div class="tag">

    <article>
        <header>
            <h2>{{.tag.Title}}</h2>
        </header>
        {{.tag.Description|html}}
    </article>

    <div class="list">
        {{range .posts}}
        <article>
            <h2 class="title"><a href="{{.Permalink}}">{{.Title}}</a></h2>
            <div class="meta">
                <time>{{.Created|date}}</time>
                <a class="comments" href="{{.Permalink}}#comments">{{.CommentsSize}}条评论</a>
            </div>
            <div class="entry">
                {{.Entry|html}}
            </div>
        </article>
        {{end}}
    </div>

    <div id="pages-nav">
        <a class="prev" href="{{.info.PrevPage.Link}}">{{.info.NextPage.Title}}</a>
        <a class="next" href="{{.info.PrevPage.Link}}">{{.info.NextPage.Title}}</a>
        <div class="clearfix"></div>
    </div>

</div>


{{template "footer" .info}}
{{end}}
